.DS_Store
__MACOSX/
.RData
.Rhistory
.Rproj.user/
R_libs/
renv/library/
config.env

*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.sam
*.fasta
*.fa
*.faa
*.fna
*.hmm
*.treefile

metagenome_project/
results/
output/
logs/
*.log
*.pid

